body,
html {
  height: 100%;
}
.bg {
  background-image: url("../resources/img/login-background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.bg-black {
  height: 100vh;
  background-position: center;
  background-color: #000000;
}

.registerContainer {
  position: absolute;
  top: 80px;
  margin: auto;
  opacity: 1;
  width: 100%;
  max-width: 100% !important;
  height: 110%;
}

.registerForm {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 25px;

  .submit {
    margin-top: 20px;
  }

  .login {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.logoHolder {
  width: 100%;
  text-align: center;

  .logo {
    margin: 0 auto;
    align-self: center;
    width: 50%;
  }
}
