@import "./node_modules/react-vis/dist/style";

.detailCard {
  background-color: #fefefe;
  border: solid 1px #e4e9f2;
  padding: 32px;
  margin: 20px;

  .price {
    font-size: 24px;
    font-weight: 600;
    color: #06ad74;
    padding-bottom: 20px;
  }
}

.headerImage {
  overflow: hidden;
  height: 400px;
  padding: 0px !important;

  img {
    width: 100%;
    margin-top: -200px;
    z-index: -1;
    -webkit-mask-image: -webkit-gradient(
      linear,
      right top,
      left top,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0))
    );
  }

  .titleContainer {
    position: absolute;
    margin-top: 85px;
    height: 400px;
    padding-left: 10px;
    width: inherit;
  }
  .mainTitle {
    height: 0px;
    font-size: 100px;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 2px #777777;
  }
  .actionButton {
    height: 50px;
  }
}
.imageSliderContainer {
}

.detailContainer {
  .detailCard {
    padding: 20px !important;
  }
  .propertyDetails {
    .label {
      font-size: 14px;
      color: #777777;
      .labelText {
        height: 0px;
      }
    }
    .value {
      font-size: 18px;
      color: #2e2a2a;
    }
  }
}

.notEnoughData {
  text-align: center;
  position: relative;
  top: 125px;
  color: #bebebe;
  font-weight: bold;
  font-size: 18px;
}
.notEnoughDataChart {
  opacity: 0.5;
}
