.headerBar {
  // background-color: #fefefe;
  // border-radius: 4px;
  // border: solid 1px #e4e9f2;
  // padding: 20px;
}

.MuiGrid-item {
  display: grid;
}

.mainContent {
  background-color: #fefefe;
  margin-top: 15px !important;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 4px;
  border: solid 1px #e4e9f2;
}
